<div class="row explanation">
  <div class="col-lg-12">
    <h3>Driving Instructions</h3>
    <p>
      Driving a roombot happens over a websocket connection.
      This means you can write your driving program in whatever language and style you want.
    </p>
  </div>
</div>
